.list {
	display: flex;
	gap: 10px;
	list-style: none;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 48px;
	min-height: 48px;
	border-radius: 10px;
	border: 1px solid #838493;
	cursor: pointer;
	transition: border 0.2s;

	&:hover {
		border: 1px solid #fe5e2d;
		box-shadow: 0px 0px 10px rgba(14, 21, 51, 0.2);
	}
}

.integer {
	color: #838493;
	transition: color 0.2s;
}

.button {
	border: 1px solid #fe5e2d;
	background-color: transparent;
	&:last-child {
		transform: rotate(180deg);
	}
}

.arrow {
	margin-right: -5px;
}

.active {
	border: 1px solid #fe5e2d;

	.integer {
		color: #fe5e2d;
	}
}
